- 
	var navLinkData = [
		{title: 'about', url: '#'},
		{title: 'how to', url: '#'},
		{title: 'faqs', url: '#'},
	]

nav.navbar 
	ul.navbar_list 
		each item in navLinkData
			li.navbar_list__item
				a.navbar_list__link(href= item.url)= item.title
	
	button.navbar_btn 
		| contact us

