@mixin btn_common($maxWidth: none) {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	max-width: $maxWidth;
	height: 6rem;
	min-height: 4rem;

	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.9rem;
	letter-spacing: 0.08rem;
	color: $white;
	text-transform: uppercase;

	white-space: nowrap;

	background-color: $orange;

	border-radius: 0.5rem;
	border: 1px solid transparent;

	cursor: pointer;

	transition: $hover_transition;

	&:hover {
		color: $orange;

		background-color: rgb(245, 222, 179);
		border: 1px solid $orange;

		transition: $hover_transition;
	}

	&:active {
		color: $white;

		background-color: $orange;

		transform: scale(0.95);
		transition: $hover_transition;
	}

	@media screen and (max-width: $point_6) {
		height: 4rem;

		font-size: 1rem;
		line-height: 1rem;
	}
}
