@mixin btn_common($maxWidth: none) {
	width: 100%;
	max-width: $maxWidth;
	height: 6rem;

	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.9rem;
	letter-spacing: 0.08rem;
	color: $white;
	text-transform: uppercase;

	white-space: nowrap;

	background-color: $orange;

	border-radius: 0.5rem;

	cursor: pointer;

	transition: $hover_transition;

	&:hover {
		background-color: $black;

		transition: $hover_transition;
	}

	&:active {
		background-color: $orange;

		transform: scale(0.95);
		transition: $hover_transition;
	}
}
