.about__section {
	padding: 10.5rem 18.4rem 8rem 24.5rem;

	@include section;

	.about__container {
		display: flex;
		justify-content: space-between;

		.about__text_block {
			opacity: 0;
			transition: 0.5s ease-out;

			.about__text {
				margin-bottom: 7rem;

				max-width: 47rem;
				width: 100%;
			}
			.about__question_block {
				position: relative;

				max-width: 57rem;
				width: 100%;

				padding: 3rem 5.5rem;

				background-color: $vanilla;

				border-radius: 0.6rem 0 0 0.6rem;

				&::before {
					content: '';

					position: absolute;
					top: 0;
					left: 0;

					height: 100%;
					width: 1rem;

					background-color: $orange;

					border-radius: 0.6rem 0 0 0.6rem;
				}
				.about_question {
					color: $black;
				}
			}
		}

		.about__img_block {
			display: flex;
			align-items: center;

			min-height: 100%;

			transform-style: preserve-3d;
			transform: scale(0.5) rotateX(90deg) rotateY(-90deg);
			transition: 0.2s ease-out;

			.about_img {
				max-width: 57.5rem;
				width: 100%;
				height: auto;
				transform: translateZ(10rem);
			}
		}
	}
}

@media screen and (max-width: $point_3) {
	.about__section {
		.about__container {
			flex-direction: column;

			.about__text_block {
				min-width: 100%;

				margin-bottom: 4.88vw;

				text-align: center;

				.about__text {
					min-width: 100%;
				}

				.about__question_block {
					min-width: 100%;
				}
			}

			.about__img_block {
				justify-content: center;

				width: 100%;
			}
		}
	}
}

@media screen and (max-width: $point_4) {
	.about__section {
		.about__container {
			.about__text_block {
				.about__text {
					margin-bottom: 9.11vw;
				}

				.about__question_block {
					padding: 3.9vw 7.16vw;

					.about_question {
						font-size: 1.5rem;
						line-height: 1.8rem;
					}
				}
			}
		}
	}
}
