.about__section {
	padding: 10.5rem 18.4rem 8rem 24.5rem;

	.about__container {
		display: flex;
		justify-content: space-between;

		.about__text_block {
			max-width: 57rem;
			width: 100%;
			.about__title {
				margin-bottom: 4rem;
			}
			.about__text {
				margin-bottom: 7rem;

				max-width: 47rem;
			}
			.about__question_block {
				position: relative;

				width: 100%;

				padding: 3rem 5.5rem;

				background-color: $vanilla;

				border-radius: 0.6rem 0 0 0.6rem;

				&::before {
					content: '';

					position: absolute;
					top: 0;
					left: 0;

					height: 100%;
					width: 1rem;

					background-color: $orange;

					border-radius: 0.6rem 0 0 0.6rem;
				}
				.about_question {
					color: $black;
				}
			}
		}

		.about__image_block {
			display: flex;

			min-height: 100%;

			.about_img {
				width: 57.5rem;
				height: auto;
			}
		}
	}
}

@media screen and (max-width: $point_1) {
	.about__section {
		padding: 7.29vw 0 5.55vw 0;
		.about__container {
			.about__image_block {
				align-items: center;

				.about_img {
					width: 39.9vw;
					height: auto;
				}
			}
		}
	}
}

@media screen and (max-width: $point_3) {
	.about__section {
		.about__container {
			flex-direction: column;

			.about__text_block {
				min-width: 100%;

				margin-bottom: 4.88vw;

				text-align: center;

				.about__text {
					min-width: 100%;
				}
			}
			.about__image_block {
				justify-content: center;

				width: 100%;
				height: auto;

				.about_img {
					max-width: 57.5rem;
					width: 100%;
					height: auto;
				}
			}
		}
	}
}

@media screen and (max-width: $point_4) {
	.about__section {
		.about__container {
			.about__text_block {
				.about__title {
					margin-bottom: 5.2vw;
				}
				.about__text {
					font-size: 2.34vw;
					line-height: 5.2vw;

					margin-bottom: 9.11vw;
				}

				.about__question_block {
					padding: 3.9vw 7.16vw;

					.about_question {
						font-size: 3.12vw;
						line-height: 4.68vw;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $point_6) {
	.about__section {
		.about__container {
			.about__text_block {
				.about__text {
					font-size: 1.2rem;
					line-height: 1.6rem;
				}

				.about__question_block {
					.about_question {
						font-size: 1.2rem;
						line-height: 1.6rem;
					}
				}
			}
		}
	}
}
