.form__section {
	position: relative;
	width: 100%;
	height: 91rem;

	padding: 14rem 33.5rem 12rem 24rem;

	background: url('../images/sections/form/form-bg.png') left/cover;

	.form_container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		height: 100%;

		.form__top_blok_wrapper {
			display: flex;
			justify-content: space-between;

			.form__top_left_wrapper {
				padding-top: 21rem;

				.form__top_left_content {
					position: relative;

					max-width: 38rem;
					width: 100%;

					padding: 1rem 1rem 1rem 4rem;

					border-radius: 0.6rem;
					&::before {
						content: '';

						position: absolute;
						top: 0;
						left: 0;

						height: 100%;
						width: 1rem;

						background-color: $orange;

						border-radius: 0.6rem 0 0 0.6rem;
					}
					.form__top_left__text {
						color: $white;
						max-width: 33rem;
						font-family: 'RubikRegular', sans-serif;
						font-size: 2rem;
						line-height: 3rem;
					}
				}
			}

			.form__top_right_blok {
				max-width: 55rem;
				width: 100%;

				.form {
					position: relative;

					display: flex;
					flex-direction: column;

					padding: 5.2rem 7.5rem;

					width: 100%;

					background-color: $white;
					box-shadow: 0 2rem 4rem 0 #ee4d471a;

					border-radius: 1rem;
					.form__input_wrapper {
						position: relative;

						display: flex;
						flex-direction: column;

						margin-bottom: 3rem;

						.form__label {
							width: min-content;

							margin-bottom: 1rem;

							font-family: 'RubikLight', sans-serif;
							font-size: 1.6rem;
							line-height: 4rem;
							color: $black;
							white-space: nowrap;

							cursor: pointer;
						}

						.form__input {
							width: 100%;
							height: 6rem;

							padding: 1.1rem 4rem;

							border: .1rem solid #e9c3b8;
							border-radius: 0.5rem;
							outline: none;

							font-family: 'RubikBold', sans-serif;
							font-size: 1.8rem;
							line-height: 4rem;

							transition: $hover_transition;

							&:focus {
								border: .1rem solid #0e264c;
								box-shadow: 0 0 0.5rem 0.5rem #0e264c51;

								transition: $hover_transition;
							}

							&:hover {
								box-shadow: 0 0 0.5rem 0.5rem #e9c3b88e;

								transition: $hover_transition;
							}

							&:hover:focus {
								box-shadow: 0 0 0.5rem 0.5rem #0e264c51;

								transition: $hover_transition;
							}
						}

						.form_input--error {
							border: .1rem solid rgb(255, 0, 0);
							box-shadow: 0 0 0.5rem 0.5rem rgba(255, 0, 0, 0.385);
						}

						.form__text_error {
							position: absolute;
							left: 0;
							bottom: -2.4rem;

							font-size: 1.4rem;
							color: rgb(255, 0, 0);
						}
					}

					.form__btn {
						@include btn_common(22rem);

						justify-content: space-between;

						padding: 0 2.5rem;

						&:hover {
							.form__btn_arrow {
								fill: $orange;

								transition: $hover_transition;
							}
						}

						&:active {
							.form__btn_arrow {
								fill: $white;

								transition: $hover_transition;
							}
						}

						.form__btn_arrow {
							min-width: 2rem;
							max-width: 3rem;
							width: 100%;
							max-height: 1.2rem;

							margin-left: 0.5rem;

							fill: $white;

							transition: $hover_transition;
						}
					}

					.form__success_message {
						position: absolute;
						left: 50%;
						top: 2rem;

						opacity: 0;

						transform: translate(-50%, 0);
						transition: $hover_transition;
					}

					.form__success_message--visible {
						opacity: 1;

						transition: $hover_transition;
					}
				}
			}
		}

		.form__bottom_content {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.form__bg_line {
			position: absolute;
			top: 24.9rem;
			left: 0;

			stroke-dashoffset: 2600;
			stroke-dasharray: 2600;

			transition: $hover_transition_1;
		}
	}
}

@media screen and (max-width: $point_1) {
	.form__section {
		padding: 9.72vw 0 8.33vw;
	}
}

@media screen and (max-width: $point_3) {
	.form__section {
		height: 78rem;
		padding: 5vw 0;
		.form_container {
			.form__top_blok_wrapper {
				flex-direction: column-reverse;
				align-items: center;
				justify-content: center;

				height: 100%;

				.form__top_left_wrapper {
					padding-top: 7vw;
				}

				.form__top_right_blok {
					.form {
						align-items: center;

						padding: 5.07vw 7.32vw;

						background-color: rgba(255, 255, 255, 0.53);
						box-shadow: 0 0 0.5rem 0.5rem #0e264c51;

						.form__input_wrapper {
							.form__input {
								padding: 0 3.9vw;
							}
						}
					}
				}
			}
			.form__bottom_content {
				display: none;
			}

			.form__bg_line {
				top: 21.5rem;
			}
		}
	}
}

@media screen and (max-width: $point_4) {
	.form__section {
		.form_container {
			.form__top_blok_wrapper {
				.form__top_left_wrapper {
					.form__top_left_content {
						.form__top_left__text {
							font-size: 1.5rem;
							line-height: 1.8rem;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $point_6) {
	.form__section {
		.form_container {
			.form__top_blok_wrapper {
				.form__top_right_blok {
					.form {
						.form__input_wrapper {
							.form__input {
								height: 4rem;
							}
						}

						.form__btn {
							justify-content: center;
							padding: 0 0.5rem;
						}

						.form__success_message {
							top: 0.5rem;

							font-size: 1.4rem;
							white-space: nowrap;
						}
					}
				}
			}
		}
	}
}
