.awesome_traffic__section {
	position: relative;

	height: 118.4rem;

	padding: 19rem 25.2rem 0 29rem;

	background: url('../images/sections/scene.png') top center no-repeat;

	overflow: hidden;

	.awesome_traffic__container {
		.logo__mob_wrapper {
			position: absolute;
			top: 5rem;
			left: 50%;

			display: none;

			transform: translate(-50%, 0);
		}

		.awesome_traffic__title {
			max-width: 74rem;

			margin-bottom: 6rem;

			font-size: 10rem;
			line-height: 10rem;
		}

		.awesome_traffic__btn {
			@include btn_common(22rem);
		}

		.awesome_traffic__car_wrapper {
			position: absolute;
			left: -60rem;
			bottom: 0;

			max-width: 60rem;
			width: 100%;

			&::before,
			&::after {
				content: '';

				position: absolute;
				top: 64%;

				width: 4.5%;
				height: 4.5%;

				background: $white;

				border-radius: 0.5rem;
			}

			&::before {
				right: 27%;
			}
			&::after {
				right: 3%;
			}

			.awesome_traffic__car_img {
				height: auto;
				width: 100%;
			}
		}

		.car_headlights--yellow {
			&::before,
			&::after {
				background: $yellow;
			}
		}
	}
}

@media screen and (max-width: $max_page_width) {
	.awesome_traffic__section {
		padding: 19rem 15.75vw 0 18.12vw;

		.awesome_traffic__container {
			.awesome_traffic__title {
				font-size: 6.25vw;
				line-height: 6.25vw;
			}
		}
	}
}

@media screen and (max-width: $point_1) {
	.awesome_traffic__section {
		padding: 19rem 0 0 0;
	}
}

@media screen and (max-width: $point_3) {
	.awesome_traffic__section {
		.awesome_traffic__container {
			display: flex;
			flex-direction: column;
			align-items: center;

			text-align: center;

			.logo__mob_wrapper {
				display: block;
			}
		}
	}
}

@media screen and (max-width: $point_6) {
	.awesome_traffic__section {
		.awesome_traffic__container {
			.awesome_traffic__title {
				font-size: 2.8rem;
				line-height: 4rem;
			}
		}
	}
}
