.padding_container 
	.header_content
		a.logo_wrapper(href='/')
			.logo_img_wrapper
				svg.small_logo_rectangle
					use(xlink:href='/images/sprite/sprite.svg#small-logo-rectangle')
				svg.large_logo_rectangle 
					use(xlink:href='/images/sprite/sprite.svg#large-logo-rectangle')
			.logo__title_wrapper
				p.logo__title trafico.

		include ../navbar/navbar