@import 'family';
@import 'reset';
@import 'fonts';
@import 'print';

//------------------------------------------------------------base styles
:root {
	--height-header: 14rem;
	--height-footer: 5rem;
}

html {
	min-height: 100%;
	font-size: $html_font_size;
}

body {
	height: 100%;
	width: 100%;

	font-family: 'RubikLight', sans-serif;
	font-size: $font_size_base;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: $body_bg;

	@supports (display: grid) {
		display: block;
	}
}

.main_container {
	margin: 0 auto;

	width: 100%;
	max-width: $max_page_width;

	background-color: $body_bg;
}

.padding_container {
	padding: 0;

	@media screen and (max-width: $point_1) {
		& {
			padding: 0 7vw;
		}
	}
}

a {
	text-decoration: none;
}

h1 {
	font-family: 'DMSerifDisplayRegular', sans-serif;
	color: $white;
}
