@import 'reset';
@import 'fonts';

:root {
	--height-header: 14rem;
	--height-footer: 5rem;
}

*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background: #fdd2d2;
}

*::-webkit-scrollbar-thumb {
	background-color: #f49578;
	border-radius: 0;
}

html {
	min-height: 100%;
	font-size: $html_font_size;
}

body {
	height: 100%;
	width: 100%;

	font-family: 'RubikLight', sans-serif;
	font-size: $font_size_base;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: $body_bg;
}

.main_container {
	margin: 0 auto;

	width: 100%;
	max-width: $max_page_width;

	background-color: $body_bg;

	overflow-x: hidden;
}

.padding_container {
	padding: 0;

	@media screen and (max-width: $point_1) {
		& {
			padding: 0 7vw;
		}
	}
}

a {
	text-decoration: none;
}

h1 {
	@include h1;
}

h2 {
	@include h2;
}

h3 {
	@include h3;
}

h4 {
	@include h4;
}

p {
	@include text;
}
