section.faq__section#faq
	.padding_container.faq__container 
		.faq__top_content
			.faq__text_block 
				h3.faq__title 
					| faq

				h2.faq__text 
					| Questions and Answers on Professional Traffic Permits:

			.faq__img_block 
				img.faq__img(src="../../../images/sections/faq/faq.png" width='708' height='497' alt="Faq")

		.faq__bottom_content
			.faq__list_wrapper
				ul.faq__list.faq__left_list
				ul.faq__list.faq__right_list
			.faq__buttons_wrapper
				button.faq__btn.faq__close_btn.faq__close_btn--un_active 
					| close 
				button.faq__btn.faq__load_more_btn
					| load more
		
			
