section.form__section#form-section 
	.padding_container.form_container
		svg.form__bg_line(width="817" height="457" viewBox="0 0 817 457" fill="none" xmlns="http://www.w3.org/2000/svg")
			path(opacity="0.4" d="M-216 316.609C-166.999 252.887 -37.2115 128.63 89.9269 141.375C248.85 157.305 -53.1039 456 89.9269 456C232.958 456 300.5 89.6007 403.8 89.6007C507.1 89.6007 288.581 360.418 403.8 376.348C519.019 392.278 614.373 -5.9817 741.512 -9.9643C868.65 -13.9469 610.4 316.609 817 316.609" stroke="url(#paint0_linear_523_0)" stroke-width="3")
			defs
				linearGradient(id="paint0_linear_523_0" x1="300.5" y1="100.318" x2="300.5" y2="558.71" gradientUnits="userSpaceOnUse")
					stop(stop-color='#F37753')
					stop(offset="1" stop-color="#ffffff")
		.form__top_blok_wrapper
			.form__top_left_wrapper
				.form__top_left_content
					p.form__top_left__text
						| We provide traffic management consultants so you get started quickly, contact us for a quote today!

			.form__top_right_blok
				form.form
					label.form__input_wrapper
						span.form__label Name 
						input.form__input.form__input_name(type="text")
						span.form__text_error.form__name_error

					label.form__input_wrapper
						span.form__label Email address 
						input.form__input.form__input_email(type="text")
						span.form__text_error.form__email_error

					button.form__btn get started
						svg.form__btn_arrow
							use(xlink:href='/images/sprite/sprite.svg#white-arrow')
					span.form__success_message Sent successfully

		.form__bottom_content
			.form__logo_wrapper
				include ../components/logo/logo
			include ../components/navbar/navbar

