section.how_to_apply__section#how-to-apply
	.padding_container.how_to_apply__container
		article.how_to_apply__img_block
			img.how_to_apply__img(src='../../../images/sections/how-to-apply/how-to-apply.png' width='720' height='678' alt='How to apply')

		article.how_to_apply__text_block
			h3.how_to_apply__title 
				| how to apply

			p.how_to_apply__text 
				| When applying for a traffic permit, there are certain requirements that you must meet that are included in the examination: requirements for professional knowledge, solid establishment, good reputation and financial resources. Important to remember is to confirm your application for a traffic permit by the company's company signer or CEO.