section.awesome_traffic__section
	.padding_container.awesome_traffic__container
		.logo__mob_wrapper
			include ../components/logo/logo
		h1.awesome_traffic__title 
			| Your awesome traffic permit consultant.
		button.awesome_traffic__btn(type='button')
			| get started
		.awesome_traffic__car_wrapper
			img.awesome_traffic__car_img(src="../../../images/sections/car.png", alt="Car")





