section.section_your_awesome_traffic 
	.padding_container
		h1.your_awesome_traffic__title 
			| Your awesome traffic permit consultant.
		button.your_awesome_traffic__btn(type='button')
			| get started
		.your_awesome_traffic__car_wrapper
			img.your_awesome_traffic__car_img(src="../../../images/sections/car.png", alt="Car")





