.logo
	a.logo__link(href='/')
		figure.logo__container
			.logo__img_wrapper
				svg.logo__small_rectangle
					use(xlink:href='/images/sprite/sprite.svg#small-logo-rectangle')
				svg.logo__large_rectangle 
					use(xlink:href='/images/sprite/sprite.svg#large-logo-rectangle')
			figcaption.logo__title_wrapper
				p.logo__title trafico.