.footer {
	height: 13rem;

	padding: 0 33.5rem 0 24rem;

	.padding_container {
		display: flex;
		align-items: center;

		height: 100%;

		.footer__content_wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;

			width: 100%;
			height: 100%;

			.footer__copyright_wrapper {
				.footer__copyright_text {
					font-family: 'RubikLight', sans-serif;
					font-size: 1.6rem;
					line-height: 3rem;
					color: $black;
				}
			}
			.footer__icons_list {
				display: flex;
				gap: 2rem;

				.footer__list_item {
					.footer__list_link {
						.footer__list_icon {
							width: 3.6rem;
							height: 3.6rem;

							fill: $orange;

							transition: $hover_transition;
						}

						.facebook_icon {
							&:hover {
								fill: #1178f2;

								transition: $hover_transition;
							}
						}
						.twitter_icon {
							&:hover {
								fill: #50abf1;

								transition: $hover_transition;
							}
						}
						.instagram_icon {
							&:hover {
								fill: #d33272;

								transition: $hover_transition;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $point_1) {
	.footer {
		padding: 0;
	}
}

@media screen and (max-width: $point_4) {
	.footer {
		.padding_container {
			.footer__content_wrapper {
				flex-direction: column-reverse;
				justify-content: space-around;
			}
		}
	}
}
