.header {
	position: fixed;
	top: 0;
	left: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	max-width: $max_page_width;
	width: 100%;
	height: var(--height-header);

	overflow: hidden;
	transform: translate(-50%, 0);
	transition: $hover_transition_1;

	@include z-index(header);
	.header_content {
		display: flex;
		align-items: center;
		justify-content: space-between;

		width: 113.4rem;
		padding: 2rem 1.6rem 2rem 5.5rem;
		height: 100%;

		border-radius: 2rem;

		.logo_wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;

			max-width: 21.1rem;
			width: 100%;
			height: 5rem;

			margin-right: 2rem;

			.logo_img_wrapper {
				position: relative;

				min-width: 4.7rem;
				height: 100%;

				.small_logo_rectangle {
					position: absolute;
					top: 0;
					left: 0;

					width: 1.6rem;
					height: 1.7rem;
				}
				.large_logo_rectangle {
					position: absolute;
					right: 0;
					bottom: 0;

					width: 3.1rem;
					height: 3.3rem;
				}
			}

			.logo__title_wrapper {
				.logo__title {
					font-family: 'DMSerifDisplayRegular', sans-serif;
					font-size: 3.2rem;
					font-weight: 400;
					line-height: 3.2rem;
					color: $white;
					text-transform: uppercase;

					transition: $hover_transition;
				}
			}

			&:hover,
			&:focus {
				.logo__title {
					color: $orange;

					text-shadow: -0.2rem -0.2rem 0.3rem $white;

					transition: $hover_transition;
				}
			}
		}
	}
}

.header--bg__brown .header_content {
	background-color: #4b2a2ac4;
	padding: 1rem;
}

.body--header__hidden .header {
	width: 0;

	padding: 0;

	transition: $hover_transition_1;
}

@media screen and (max-width: $point_1) {
	.header {
		.header_content {
			width: 86vw;

			padding: 1rem;
		}
	}
}

@media screen and (max-width: $point_3) {
	.header {
		position: fixed;

		align-items: flex-start;

		width: 0;
		height: 100%;

		text-align: center;

		background-color: #4b2a2ac4;

		.padding_container {
			width: 100%;
			height: 100%;

			padding: 0;

			.header_content {
				position: absolute;
				top: 0;
				left: 50%;

				flex-direction: column;
				justify-content: flex-start;
				gap: 5rem;

				width: 100vw;
				height: 100%;

				padding: 5rem 0;

				overflow-x: hidden;
				overflow-y: auto;

				transform: translate(-50%, 0);

				.logo_wrapper {
					min-height: 5rem;

					margin: 0;

					.logo_img_wrapper {
						margin-right: 2rem;
					}
				}
			}
		}
	}
	.body--mob_active .header {
		width: 100%;
	}
}
