//------------------------------------------------------------layout
.header {
	position: fixed;
	top: 0;
	left: 50%;

	height: var(--height-header);
	width: 100%;
	max-width: 90rem;

	background-color: red;

	will-change: transform;

	transform: translate(-50%, 0);

	@include z-index(header);
}

//------------------------------------------------------------layout###
