.navbar {
	max-width: 60.4rem;
	width: 100%;
	height: 6rem;

	display: flex;
	align-items: center;
	justify-content: space-between;

	.navbar_list {
		display: flex;
		gap: 2rem 10rem;

		margin-right: 2rem;

		.navbar_list__item {
			.navbar_list__link {
				font-size: 1.6rem;
				font-weight: 700;
				line-height: 1.9rem;
				letter-spacing: 0.08rem;
				text-transform: uppercase;
				color: $white;
				white-space: nowrap;

				transition: $hover_transition;

				&:hover,
				&:focus {
					color: $orange;

					text-shadow: -.2rem -.2rem .3rem $white;

					transition: $hover_transition;
				}
			}
		}
	}

	.navbar_btn {
		@include btn_common(15.8rem);
	}
}

.form__bottom_content {
	.navbar {
		justify-content: flex-end;
		width: min-content;

		.navbar_list {
			margin-right: 0;
		}

		.navbar_btn {
			display: none;
		}
	}
}

@media screen and (max-width: $max_page_width) {
	.navbar {
		.navbar_list {
			gap: 2rem 6.25vw;
		}
	}
}

@media screen and (max-width: $point_3) {
	.navbar {
		flex-direction: column;
		justify-content: center;
		gap: 5rem;

		height: min-content;

		.navbar_list {
			flex-direction: column;

			margin: 0;
		}
	}
}
