.dropdown_btn_wrapper {
	position: fixed;
	top: 6rem;
	right: calc(50% - 75rem);

	width: 4.5rem;
	height: 2rem;

	z-index: -1;
	opacity: 0;

	transition: $hover_transition_1;

	.dropdown_btn {
		position: relative;
		left: 0;
		top: -0.6rem;

		width: 100%;
		height: 100%;

		cursor: pointer;

		&::before,
		&::after {
			content: '';

			position: absolute;
			left: 50%;

			height: 2px;
			width: 0;

			background-color: $black;

			transform: translate(-50%, 0);
			transition: $hover_transition_1;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		.dropdown_btn__item {
			position: absolute;
			left: 0;
			top: 50%;

			height: 2px;
			width: 100%;

			background-color: $black;

			transform: translate(0, -50%);
		}
	}
}

.body--header__hidden {
	.dropdown_btn {
		&::before,
		&::after {
			width: 100%;

			transition: $hover_transition_1;
		}
	}
}

.body--mob_active {
	.dropdown_btn_wrapper {
		.dropdown_btn {
			&::before,
			&::after {
				width: 0;

				background-color: $white;

				transition: $hover_transition_1;
			}
		}
		.dropdown_btn__item {
			background-color: $white;
		}
	}
}

.body--dropdown_btn__visible .dropdown_btn_wrapper {
	z-index: 101;
	opacity: 1;
	transition: $hover_transition_1;
}

@media screen and (max-width: $max_page_width) {
	.dropdown_btn_wrapper {
		right: 5rem;
	}
}

@media screen and (max-width: $point_1) {
	.dropdown_btn_wrapper {
		right: 1rem;
	}
}

@media screen and (max-width: $point_3) {
	.dropdown_btn_wrapper {
		right: 3rem;
		top: 2.5rem;

		opacity: 1;
		z-index: 101;
		.dropdown_btn {
			&::before,
			&::after {
				width: 100%;
			}
		}
	}
	.body--dropdown_btn__visible {
		.dropdown_btn {
			&::before,
			&::after {
				width: 0;

				transition: $hover_transition_1;
			}
		}
	}
}
