include ../templates/mixins/m-header
include ../templates/mixins/m-footer
include ../templates/mixins/m-dropdown
include ./preloader-layout

doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		body
			.main_container
				+header
				main.main_content
					block content_block
				+footer 
				+dropdown

